# =========================
# Root Environment
# =========================
.env
.env.*

# =========================
# Docker Compose Overrides
# =========================
docker-compose.override.yml

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*

# =========================
# Kubernetes
# =========================
*.kubeconfig

# =========================
# Kubernetes Secrets (local only)
# =========================
k8s/*-secret.yml
k8s/*-secret.yaml

# =========================
# Secrets
# =========================
*.pem
*.key
*.crt
*.p12
*.pfx

# =========================
# SonarQube
# =========================
.scannerwork/

# =========================
# Trivy
# =========================
.trivycache/

# =========================
# Jenkins
# =========================
.jenkins/

# =========================
# Docker
# =========================
docker-data/
